{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <div class="sub-content">
        <p style="font-size: 3rem; padding-top: 3rem;">Welcome to<br>Books</p>
        <p style="font-size: 1.8rem;">Discover Your Next Great Book</p>
        <a href="/login" type="button" class="btn btn-outline-primary">Log In</a>
        <a href="/register" type="button" class="btn btn-outline-secondary">Register</a>
    </div>
{% endblock %}

{% block footer %}  
    <a style="color:#273c47;" href='https://www.freepik.com/free-photos-vectors/background'>Icon vector created by freepik - www.freepik.com</a>
{% endblock %}