{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form class="sub-content" id="register-form" action="/register" method="post">
        <div class="form-group" style="margin-top: 4.5rem;">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="password_confirm" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-outline-secondary" id="register" type="submit">Register</button>
    </form>


{% endblock %}

{% block footer %}  
    <a style="color:#273c47;" href='https://www.freepik.com/free-photos-vectors/background'>Icon vector created by freepik - www.freepik.com</a>

    <script type="text/javascript">
        const sbBtn = document.getElementById('register');
        sbBtn.addEventListener('click', checkAjax);
    
        function checkAjax(event){
            event.preventDefault();
            const rForm = document.getElementById('register-form');
            var vali = rForm.checkValidity();
    
            if(vali){
                $.ajax({
                    url:'/check',
                    data: $('#register-form').serialize(),
                    type: 'POST',
                    success: function(response){
                        if(response == 'success'){
                            document.getElementById('register-form').submit();
                            console.log('this is success');
                        }
                        else if(response == 'false'){
                            alert('please input username')
                        }
                        else if(response == 'false1'){
                            alert('username is not available')
                        }
                        else if(response == 'false2'){
                            alert('missing password');
                        }
                        else{
                            alert('password do not match');
                        }
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            }
            else{
                rForm.reportValidity();
            }
        }
    </script>
{% endblock %}
