{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia-Edit
{% endblock %}

{% block body %}
<h1>Edit Page</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="text" class="add_form_title" name="title" placeholder="Title" value="{{ title }}" autocomplete="off" required>
        <textarea class="add_form_content" name="content" rows="25" autocomplete="off" placeholder="Enter Content in Markdown" required>{{ content }}</textarea>
        <input type="submit" value="Edit" style="display: block;">
    </form>
{% endblock %}