{% extends "layout.html" %}

{% block main %} 
    <div class="sub-content">
        <p class="sub-content-text sub-text-top" id="sub-about">About</p>
        <div class="about-total">
        <div class="about-content">This web application is designed to get</div>
        <div class="about-content"> breaking news headlines and search for articles</div>
        <div class="about-content">from news sources and blogs all over the web.</div>
        </div>

        <div class="about-total1">
            <div class="about-content">After login you can check live top</div>
            <div class="about-content">and breaking news headlines at homepage.</div>
        </div>
        <div class="about-total1">
            <div class="about-content">You can search across every news article</div>
            <div class="about-content">that mentions a specific topic or keyword.</div>
        </div>
        <div class="about-total1"></div>
            <div class="about-content" id="about-bottom">Both of them will return 10 top news for you.</div>
        </div>
    </div>
{% endblock %}